<!DOCTYPE html>
<html>
<head>
  <title><%= storeName %></title>
</head>
<body>
  
  <h1><%= storeName %></h1>


  <ul>
    <% books.forEach(function(book) { %>
      <li><strong><%= book.title %></strong> by <%= book.author %></li>
    <% }); %>
  </ul>

  <script>
    console.log("Welcome to <%= storeName %>!");
  </script>
</body>
</html>

